/* stylelint-disable scss/no-global-function-names */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 130px;
  height: 45px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
.btn-start {
  background-color: green;
  @media (hover: hover) {
    &:hover {
      background-color: darken(green, 5%);
    }
  }
}
.btn-stop {
  background-color: firebrick;
  @media (hover: hover) {
    &:hover {
      background-color: darken(firebrick, 5%);
    }
  }
}
.btn-wait {
  background-color: chocolate;
  @media (hover: hover) {
    &:hover {
      background-color: darken(chocolate, 5%);
    }
  }
}
.btn-reset {
  background-color: #0158ae;
  @media (hover: hover) {
    &:hover {
      background-color: darken(#0158ae, 5%);
    }
  }
}
